logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
dist
scss
public
.vscode/.settings.json
.vscode/.extensions.json
.editorconfig
pnpm-lock.yaml

.stylelintrc.json
.gitignore
.eslintrc.json
.prettierrc.json
