.feature {
	background-color: $grayishViolet;
	text-align: center;

	@include divisions-up(medium) {
		text-align: left;
	}

	&intro {
		margin-bottom: 3.75rem;

		@include divisions-up(large) {
			width: 60%;
		}
	}

	&grid {
		@include divisions-up(medium) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&item {
		padding: 0.9375rem;

		@include divisions-up(medium) {
			flex: 0 0 50%;
		}

		@include divisions-up(large) {
			flex: 1;
		}
	}

	&icon {
		margin-bottom: 1.875rem;

		@include divisions-up(large) {
			margin-bottom: 2.75rem;
		}
	}

	&title {
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 1.15;
		color: $darkBlue;
		margin-bottom: 1rem;

		@include divisions-up(large) {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}

	&desc {
		font-size: 0.875rem;
		line-height: 1.5;
	}
}
