.hero {
	// background-color: $VeryLightGray;

	// .container {
	// 	@include divisions-up(large) {
	// 		display: flex;
	// 		align-items: center;
	// 	}
	// }

	&text {
	

font-family: $family;
font-weight: $weights;
		// @include divisions-up(large) {
		// 	flex: 2;
		// 	order: 1;
		// 	text-align: left;
		// }
	}
	h1{
		font-size: 3.5rem;
	}
	p{
		color: $grayishViolet;
	}
}
