.header {
	// position: relative;
	// z-index: 1;
	&logo {
		img {
			width: 8.8125rem;
			height: 1.375rem;
		}
	}
    .nav-right {
        float: right;
      }
	&links {
		a {
		padding-bottom: 20px;
			transition: color 250ms ease-in-out;
			margin-left: 20px;
			color: #000;
				// opacity: 0;
				// transition: opacity 250ms ease-in-out;
			}

			&:hover {
				color: #53da7c;
				
			}
		}
	}

