
  
  /* Style the links inside the navigation bar */
  nav{ 
    a {
    color: $grayishViolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 0.5rem;
   font-family: $family; 
font-weight: $weights;

    
    &:hover {
    color: $darkViolet;
  }
}}

.nav-right{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  