//colors

$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);


$Red: hsl(0, 87%, 67%);

$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$darkBlue: hsl(255, 11%, 22%);
$darkViolet: hsl(260, 8%, 14%);

//Typography

//Body Copy
$fontsize: 18px;

//Fonts
$family: Poppins;//(https://fonts.google.com/specimen/Poppins) 
$weights: 500, 700;
